# Environment Configuration
.env

# Dependency directory
node_modules

# Test coverage directory
coverage

# Ignore Apple macOS Desktop Services Store
.DS_Store

# Logs
logs
*.log

# ngrok tunnel file
config/tunnel.pid

# webpack build output
dist/

# MacOS
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Docker Persistent Data
database.env
data/postgres
data/redis/*
!data/redis/redis.conf
!data/redis/.gitkeep
data/traefik/*
!data/traefik/.gitkeep
app/app_proxy/*

NOTES.md
CHANGES.md
/app/server/config/

/proxy/*
!/proxy/.gitkeep